* {
    margin: 0%;
    padding: 0%;
    max-width: 100vw;
    max-height: 100vh;
}

.imgClub {
    display: grid;
    justify-content: center;
    background-color: #f0f2f5;
    }

header {
    display: flex;
    text-align: center;
    justify-content: center;
    color: #0c2c45;
    background-color: #f0f2f5;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Barlow', sans-serif;
}

#centroDePagina {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "main aside";
    background-color: #071e2f !important;
}

main {
    grid-area: main; 
    text-align: center;
    justify-content: center;
    color: #f0f2f5;
    padding-left: 100px;
    font-family: 'Barlow', sans-serif;
}

.user {
    font-size: 25px;
    padding: 10px;
}

#user {
    background-color: #f0f2f5;
    border-radius: 5px;
    width: 150px;
    height: 20px;
    border-color: #f0f2f5;
}

#password {
    background-color: #f0f2f5;
    border-radius: 5px;
    width: 150px;
    height: 20px;
    border-color: #f0f2f5;
}

.password {
    font-size: 25px;
    padding: 10px;
}

.button {
    font-size: 18px;
    margin: 25px;
    background-color: #f0f2f5;
    color: #0c2c45;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    cursor: pointer;
}

.button:hover {
    background-color:#0c2c45;
    color: #f0f2f5;
    
}

.forgetPassword {
    font-size: 20px;
    padding: 35px;
}

.olvidaste {
    text-decoration: none;
    color: #f0f2f5;
}

.olvidaste:hover {
    text-decoration: underline;
}

aside {
    grid-area: aside;
    text-align: center;
    justify-content: center;
    color: #f0f2f5;
    padding-right: 100px;
    font-family: 'Barlow', sans-serif;
}

.info {
    font-size: 20px;
    padding: 35px;
    line-height: 50px;
}

.button--signIn {
    font-size: 18px;
    background-color: #f0f2f5;
    color: #0c2c45;
    border-radius: 5px;
    width: 120px;
    height: 30px;
    cursor: pointer;
}

.button--signIn:hover {
    background-color: #0c2c45;
    color: #f0f2f5;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #f0f2f5;
    justify-items: center;
    font-size: 25px;
    color: #0c2c45;
    text-align: center;
    font-family: 'Barlow', sans-serif;
    
}

.ojaldre {
    text-decoration: none;
    color: #0c2c45;
}

.ojalrde:hover {
    text-decoration: underline;
}
/* <div class="logIn">
                <input type="button" value="Ingresar" class="button">
            </div> */
