* {
    margin: 0%;
    padding: 0%;
    max-width: 100vw;
    max-height: 100vh;
}

header {
    color: #f0f2f5;
    background-color: #071e2f;
    font-family: 'Barlow', sans-serif;
    }

.menu {
    padding: 20px;
    font-family: 'Barlow', sans-serif;
    text-align: center;
}

.userName {
    padding-left: 40px;
    padding-bottom: 20px;
    font-family: 'Barlow', sans-serif;
}

main {
    color: #f0f2f5;
    background-color: #071e2f;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: 'Barlow', sans-serif;
    padding-top: 15px;
}

.paid {
    font-size: 20px;
    padding-left: 20px;
    /*padding-bottom: 10px; */
    font-family: 'Barlow', sans-serif;
}

.teachers {
    font-size: 20px;
    font-family: 'Barlow', sans-serif;
    text-align: center;
}

.sesionOut {
    font-size: 20px;
    font-family: 'Barlow', sans-serif;
    position: right;
    /*padding-left: 330px; */
    text-align: right;
    padding-right: 25px;
}

article {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: #071e2f;
    font-family: 'Barlow', sans-serif;
    padding-bottom: 42px;
    padding-top: 35px;
}

.rutinaMusculacion {
    font-size: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin: 20px;
    border-style: solid;
    border-radius: 10px;
    background-color: #f0f2f5;
    color: #071e2f;
    font-family: 'Barlow', sans-serif;
    cursor: pointer;
}

.rutinaMusculacion:hover {
    background-color: #071e2f;
    color: #f0f2f5;
    transition: .2s;
}

.spinning {
    font-size: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin: 20px;
    border-style: solid;
    border-radius: 10px;
    background-color: #f0f2f5;
    color: #071e2f;
    font-family: 'Barlow', sans-serif;
    cursor: pointer;
}

.spinning:hover {
    background-color: #071e2f;
    color: #f0f2f5;
    transition: .2s;
}

.funcional {
    font-size: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin: 20px;
    border-style: solid;
    border-radius: 10px;
    background-color: #f0f2f5;
    color: #071e2f;
    font-family: 'Barlow', sans-serif;
    cursor: pointer;
}

.funcional:hover {
    background-color: #071e2f;
    color: #f0f2f5;
    transition: .2s;
}